input,
button {
  margin-left: 40px;
  border-radius: 2px;
  border: 2px solid whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: .5px solid grey;
}

input {
  padding: 5px;
}

button {
background-color: rgb(34, 201, 165);
padding: 5px 20px;
color: rgba(1, 43, 26, 0.944);
font-size: 14px;
font-weight: 700;
cursor: pointer
}

button[disabled] {
  background-color: rgb(210, 213, 212);
  border: none;
  box-shadow: none;
}

.timer {
  display: flex;
  justify-content: center;
  width: 420px;
  margin-left: 40px;
  margin-top: 20px;
  border: 3px solid whitesmoke;
  outline: .1px solid grey;
  border-radius: 6px;
  font-family: Courier New, monospace;
  background-image: linear-gradient(to right, rgba(0, 255, 170, 0),rgb(34, 201, 165));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
}

.label {
  color:rgba(1, 43, 26, 0.917);
  font-weight: 600;
  font-size: 14px;
}

.value{
  color: whitesmoke;
  font-weight: 700;
  font-size: 30px;
  text-shadow: -1px 0 rgba(1, 43, 26, 0.917), 0 1px rgba(1, 43, 26, 0.917), 1px 0 rgba(1, 43, 26, 0.917), 0 -1px rgba(1, 43, 26, 0.917);
}