.form {
  display: flex;
  flex-direction: column;
  
}

label {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-left: 40px;
  margin-top: 5px;
   
}

.create-btn, 
.reset-btn {
  font: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 145px;
  padding: 5px;
  margin: 20px 0 0 40px;
  border-radius: 5px;
  box-shadow: none;
}

.create-btn {
  border-color: rgb(137, 229, 194);
  background-color: rgb(188, 218, 206);
}

.reset-btn {
  border-color: rgb(215, 159, 245);
  background-color: rgb(220, 206, 227);
}